
.link {
  font-family: 'Gotham-Book' !important;
  font-size: 15px;
  color: #3b3b40 !important;
  padding-right: 40px;
  cursor: pointer;
  text-decoration: none !important;
}

.contactButton {
  background-color: var(--button-color) !important;
  color: #fff !important;
  border-radius: 25px !important;
  padding: 17px 35px !important;
  font-size: 15px !important;
  font-family: 'Arial' !important;
  margin-left: 90px;
  text-transform: none !important;
  text-decoration: none;
}
.contactButton:hover {
  background-color: var(--button-color);
  box-shadow: 0px 2px 10px #888888;
}

.menu {
  display: flex;
  justify-content: flex-end;
}
@media (min-width: 320px) and (max-width: 480px) {
  .menuButton {
    margin-left: 2rem !important;
  }
  .contactButton {
    font-family: 'Arial', 'Roboto', 'Helvetica', sans-serif !important;
  }
  .contactButton {
    margin-left: 0px;
  }
  .MuiListItem-button {
    margin-bottom: 30px !important;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .contactButton {
    margin-left: 0px;
  }
  .MuiListItem-button {
    margin-bottom: 30px !important;
  }
}
@media (min-width: 1025px) and (max-width: 1441px) {
  .contactButton {
    margin-left: 25px !important;
    margin-top: 17px;
    margin-bottom: 17px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .contactButton {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px 30px !important;
    font-size: 15px !important;
    margin-left: 30px;
  }
}

@media (min-width: 1280px) and (max-width: 1441px) {
  .contactButton {
    margin-left: 20px !important;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px 30px !important;
    font-size: 15px !important;
  }
}

@media (min-width: 1441px) and (max-width: 1536px) {
  .contactButton {
    margin-left: 20px !important;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px 30px !important;
    font-size: 15px !important;

  }
}
@media (min-width: 1537px) and (max-width: 2880px) {
  .contactButton {
    margin-left: 20px !important;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 15px 30px !important;
    font-size: 15px !important;
    font-family: 'Arial' !important;

  }
}
