.section-1 {
  background-image: url(../Images/section1-backgroung8.png);
  height: 55rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #fff;
}

.section-1-grid {
  grid-column-gap: 0px !important;
}
.section-1-grid-4 {
  justify-content: center;
  justify-items: center;
  align-items: center;
  display: grid;
}
.heading {
  color: var(--second-text-color) !important;
  font-size: 119px !important;
  font-weight: 600 !important;
  opacity: 0;
  line-height: 0.9 !important;
  font-family: 'Gotham-Light' !important;
  text-align: left !important;
}
.heading2 {
  color: var(--second-text-color) !important;
  font-size: 48px !important;
  opacity: 0;
  font-weight: 600 !important;
  line-height: 1.059 !important;
  letter-spacing: 0.08em !important;
  font-family: 'Gotham-Light' !important;
  text-align: left !important;
  /* margin-top: -256px !important; */
}

.MuiListItemText-primary {
  color: var(--second-text-color) !important;
  font-size: 19px !important;
  font-family: 'Gotham-Medium' !important;
  line-height: 3.5 !important;
}

.button {
  background-color: var(--button-color) !important;
  color: var(--button-text-color) !important;
  border-radius: 5px !important;
  padding: 14px 16px !important;
  font-size: 16px !important;
  font-family: 'Gotham-Medium' !important;
  text-transform: none !important;
  margin-top: 1rem !important;
  text-align: center;
}
.button-link {
  color: var(--button-text-color) !important;
  text-decoration: none;
}

.avatar svg {
  fill: var(--button-icon);
}
.icon {
  width: 30px !important;
  height: 20px !important;
  padding-left: 10px !important;
  justify-content: flex-end !important;
}
.avatar {
  display: flex;
  justify-content: flex-end !important;
  min-width: 35px !important;
  align-content: center;
}
@media (min-width: 320px) and (max-width: 480px) {
  .section-1 {
    background-image: url(../Images/Header_photo.png) !important;
    width: 100% !important;
    height: 15rem;
  }
  .section-1-svg {
    width: 2rem !important;
    height: 2rem !important;
  }
  .section-1-list {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
  .section-1-list-avatar {
    min-width: 2.5rem !important;
  }
  .section-1-svg svg {
    fill: var(--list-icon-color) !important;
    stroke: var(--list-icon-color) !important;
  }
  .section-1-svg path {
    fill: var(--list-icon-color) !important;
  }
  .section-1-svg #Ellipse_2 {
    stroke: var(--list-icon-color) !important;
  }
  /* .MuiButton-root {
    font-family: 'Gotham-Medium' !important;
  } */
  .heading {
    font-size: 54px !important;
    font-weight: 600 !important;
    line-height: 1.059 !important;
    font-family: 'Gotham-Light' !important;
    text-align: left !important;
    /*     margin: 0px 30px !important;
 */
    padding-bottom: 55px;
  }
  .heading2 {
    font-size: 20px !important;
    font-weight: 600 !important;
    line-height: 1.059 !important;
    letter-spacing: 0.08em !important;
    font-family: 'Gotham-Light' !important;
    text-align: left !important;
    /* margin: 0px 35px !important;
    margin-top: -105px !important; */
  }
  .button {
    background-color: var(--button-color) !important;
    color: #fff !important;
    border-radius: 5px !important;
    padding: 8px 8px !important;
    font-size: 10px !important;
    font-family: 'Arial', 'Roboto', 'Helvetica', sans-serif !important;
    text-transform: none !important;
    display: flex !important;
    align-items: center !important;
    line-height: 1.5 !important;
    margin-top: 0px !important;
  }

  .icon {
    width: 30px !important;
    height: 20px !important;
    padding-left: 10px !important;
    justify-content: flex-end !important;
  }
  .avatar {
    justify-content: flex-end !important;
  }
  .MuiListItemText-primary {
    color: var(--list-text-color) !important;
    font-size: 10px !important;
    font-family: 'Gotham-Medium' !important;
    line-height: 3.5 !important;
  }
  .section-1-grid {
    grid-column-gap: 0px !important;
    display: grid !important;
    grid-template-columns: 0.25fr 0.5fr 0.5fr 0.25fr;
  }
  .section-1-grid-1 {
    grid-column: 1 / 2;
  }
  .section-1-grid-2 {
    grid-column: 2 / 4;
    display: none;
  }
  .section-1-grid-3 {
    grid-column: 4 / 5;
  }
  .section-1-grid-4 {
    grid-column: 2 / 5;
    margin-top: 2rem !important;
  }
  .section-1-grid-5 {
    grid-column: 1 / 2;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .section-1 {
    background-image: url(../Images/Header_photo.png) !important;
    width: 100% !important;
    height: 25rem;
  }
  .section-1-grid {
    grid-column-gap: 0px !important;
    display: grid !important;
    grid-template-columns: 0.25fr 0.5fr 0.25fr;
  }
  .section-1-grid-1 {
    grid-column: 1 / 2;
  }
  .section-1-grid-2 {
    grid-column: 2 / 3;
    display: none;
  }
  /* .section-1-grid-3 {
    grid-column: 4 / 5;
  } */
  .section-1-grid-4 {
    grid-column: 2 / 3;
    margin-top: 2rem !important;
    max-width: none !important;
  }
  .section-1-grid-5 {
    grid-column: 3 / 4;
  }
  .button {
    font-size: 11px !important;
    font-family: 'Arial', 'Roboto', 'Helvetica', sans-serif !important;
  }
  .heading {
    font-size: 4rem !important;
    margin-top: 5rem !important;
  }
  .heading2 {
    font-size: 1.5rem !important;
    margin-top: -3.25rem !important;
  }
  .MuiListItemText-primary {
    font-size: 15px !important;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .section-1,
  .section-1-grid {
    height: 20rem !important;
  }
  .section-1-svg {
    width: 2rem !important;
    height: 2rem !important;
  }
  .section-1-list {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
  .section-1-list-avatar {
    min-width: 2.5rem !important;
  }
  .heading {
    font-size: 80px !important;
    line-height: 1.25 !important;
  }
  .heading2 {
    font-size: 32px !important;
    line-height: 1.75 !important;
  }
  .MuiListItemText-primary {
    font-size: 10px !important;
  }
  .button {
    font-size: 11px !important;
    padding: 11px 9px !important;
    margin-top: 0rem !important;
  }
}
@media (min-width: 1025px) and (max-width: 1200px) {
  .section-1{
    height: 22rem !important;
  }
  .MuiListItemText-primary {
    font-size: 12px !important;
  }
  .button {
    padding: 11px 9px !important;
    font-size: 10px !important;
    margin-top: 0rem !important;
  }
}
/* @media (min-width: 1201px) and (max-width: 1440px) {
  .section-1, .section-1-grid{
    height: 16rem !important;
  }
} */
@media (min-width: 1201px) and (max-width: 1366px) {
  .section-1,
  .section-1-grid {
    height: 25rem !important;
  }
  .button {
    padding: 11px 9px !important;
    font-size: 10px !important;
    margin-top: 0rem !important;
  }
  /* .MuiListItemText-primary {
    font-size: 14px !important;
  } */
}
@media (min-width: 1201px) and (max-width: 1536px) {
  .section-1,
  .section-1-grid {
    height: 28rem !important;
  }
  .button {
    padding: 11px 9px !important;
    font-size: 10px !important;
    margin-top: 0rem !important;
  }
  /* .MuiListItemText-primary {
    font-size: 14px !important;
  } */
}
@media (min-width: 1537px) and (max-width: 1920px) {
  .section-1,
  .section-1-grid {
    height: 35rem !important;
  }
  .MuiListItemText-primary {
    font-size: 23px !important;
  }
  .MuiListItem-root {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
}
@media (min-width: 1921px) and (max-width: 2880px) {
  .MuiListItemText-primary {
    font-size: 36px !important;
  }
  .section-1-svg {
    width: 5rem !important;
    height: 5rem !important;
    padding-right: 1rem !important;
  }
  .button {
    font-size: 25px !important;
    border-radius: 10px !important;
    font-family: 'Arial' !important;
  }
  .icon {
    width: 3rem !important;
    height: 2rem !important;
  }
}
