@font-face {
  font-family: 'Gotham-Bold';
  src: local('Gotham-Bold'), url(../Fonts/Gotham-Bold.otf) format('truetype');
}
@font-face {
  font-family: 'Gotham-Medium';
  src: local('Gotham-Medium'), url(../Fonts/GothamMedium.ttf) format('truetype');
}
@font-face {
  font-family: 'Gotham-Book';
  src: local('Gotham-Book'), url(../Fonts/GothamBook.ttf) format('truetype');
}
.section-2 {
  height: 450px !important;
  display: grid;
  align-items: center;
}
.MuiGrid-container {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}
.card {
  justify-content: center !important;
}
.card-content {
  min-width: 340px !important;
  min-height: 250px !important;
  justify-content: center !important;
  display: grid;
  align-items: center;
  text-align: center;
}
.card-content {
  background-color: rgba(251, 185, 6, 0.08) !important;
}
.card-content:hover {
  background: var(--card-hover-color) !important;
  color: #fff !important;
}
.card-content:hover > .title {
  color: #fff !important;
}
.card-content:hover > .sub-title {
  color: #fff !important;
}
.card-content:hover > .icon-avatar {
  fill: red !important;
  content: url(../Icons/icon5_hover.svg) !important;
}
.card-content:hover > .icon-avatar {
  fill: red !important;
  content: url(../Icons/icon5_hover.svg) !important;
}
.card-content:hover > svg #Rectangle_598 {
 fill: #fff !important;
}
.card-content:hover > svg #Path_47 {
 fill: var(--card-icon-color) !important;
}

.title {
  font-size: 22px !important;
  font-family: 'Gotham-Bold' !important;
  color: #262524 !important;
}
.sub-title {
  display: flex;
  font-size: 10px !important;
  font-family: 'Gotham-Medium' !important;
  color: var(--text-color) !important;
  align-items: center;
  justify-content: center;
}
.icon-avatar {
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 320px) and (max-width: 767px) {
  .section-2-grid {
    display: grid !important;
  }
  .card-content {
    min-width: 100px !important;
    min-height: 100px !important;
    justify-content: center !important;
    display: grid;
    align-items: center;
    padding: 8px !important;
    text-align: center;
  }
  .icon-avatar {
    margin-left: auto;
    margin-right: auto;
    width: 50px;
    height: 50px;
  }
  .title {
    font-size: 14px !important;
  }
  .sub-title {
    font-size: 12px !important;
  }
}
@media (min-width: 1366px) and (max-width: 1441px) {
  .section-2-grid {
    grid-column-gap: 0px !important;
  }
  .card {
    max-width: 350px;
  }
}
@media (min-width: 768px) and (max-width: 1025px) {
  .section-2-grid {
    display: grid !important;
    grid-template-columns: 0.25fr 0.5fr 0.5fr 0.5fr 0.25fr;
  }
  .section-2-grid-1 {
    grid-column: 1/2;
  }
  .section-2-grid-2 {
    grid-column: 2/3;
  }
  .section-2-grid-3 {
    grid-column: 3/4;
  }
  .section-2-grid-4 {
    grid-column: 4/5;
  }
  .section-2-grid-5 {
    grid-column: 5/6;
  }
  .card {
    max-width: 350px;
  }
  .card-content {
    min-width: 215px !important;
    max-width: 215px !important;
    min-height: 250px !important;
    justify-content: center !important;
    display: grid;
    align-items: center;
    text-align: center;
  }
  .title {
    font-size: 13px !important;
  }
  .sub-title {
    font-size: 9px !important;
  }
}
@media (min-width: 1280px) and (max-width: 1441px) {
  .section-2-grid {
    display: grid !important;
    grid-template-columns: 0.25fr 0.5fr 0.5fr 0.5fr 0.25fr;
  }
  .section-2-grid-1 {
    grid-column: 1/2;
  }
  .section-2-grid-2 {
    grid-column: 2/3;
  }
  .section-2-grid-3 {
    grid-column: 3/4;
  }
  .section-2-grid-4 {
    grid-column: 4/5;
  }
  .section-2-grid-5 {
    grid-column: 5/6;
  }
  .card {
    max-width: 350px;
  }
}
