@font-face {
  font-family: 'Gotham-Bold';
  src: local('Gotham-Bold'), url(../Fonts/Gotham-Bold.otf) format('truetype');
}
@font-face {
  font-family: 'Gotham-Medium';
  src: local('Gotham-Medium'), url(../Fonts/GothamMedium.ttf) format('truetype');
}
@font-face {
  font-family: 'Gotham-Book';
  src: local('Gotham-Book'), url(../Fonts/GothamBook.ttf) format('truetype');
}
.section-5 {
  /*   height: 5200px;
 */
  margin-bottom: 380px;
}

.content-1 {
  /*   height: 700px;
 */
 margin-top: 100px;
  margin-bottom: 100px;
}
.content-1-heading {
  font-size: 36px !important;
  font-family: 'Gotham-Bold' !important;
  text-align: left;
  line-height: 2.25 !important;
}
.content-1-list {
  font-size: 20px !important;
  font-family: 'Gotham-Medium' !important;
  text-align: left;
  background-color: #f6f4ef !important;
  display: flex;
  align-items: center;
  /* padding-left: 5px;
  padding-right: 5px;
  padding-top: 15px;
  padding-bottom: 15px; */
}
.dot {
  color: var(--text-color);
  padding-right: 5px;
  display: flex;
  align-items: center;
}
.MuiAccordion-root.Mui-expanded:last-child {
  /* background-color: red !important; */
  margin-bottom: 20px !important;
}
.MuiAccordionSummary-expandIcon {
  color: var(--color) !important;
}

.content-1-accordion {
  margin-bottom: 20px;
  background-color: #f6f4ef !important;
}
.content-1-list-expand {
  font-size: 12px !important;
  font-family: 'Gotham-Book' !important;
  text-align: left;
  background-color: #f6f4ef !important;
}
@media (min-width: 320px) and (max-width: 767px) {
  .content-1 {
    margin-top: 30px;
    margin-bottom: 0px !important;
  }
  .content-1-grid {
    max-width: max-content !important;
  }
  .content-1-heading {
    font-size: 20px !important;
    margin-bottom: 20px !important;
    line-height: 1.25 !important;
  }
  .content-1-list {
    font-size: 12px !important;
  }
}

/* ================================*/
/*============content-2============*/
/*================================*/

/* .content-2 {
  height: 1470px;
} */
.content-2-heading {
  font-size: 36px !important;
  font-family: 'Gotham-Bold' !important;
  text-align: left;
  line-height: 1.5 !important;
}
.content-2-heading-2 {
  font-size: 24px !important;
  font-family: 'Gotham-Bold' !important;
  text-align: left;
  color: var(--text-color);
  line-height: 1.5 !important;
}
.content-2-paragraph {
  font-family: 'Gotham-Book' !important;
  text-align: left;
  font-size: 20px !important;
  line-height: 1.5 !important;
}
.content-2-paragraph-2 {
  font-family: 'Gotham-Book' !important;
  text-align: left;
  font-size: 20px !important;
  line-height: 1.5 !important;
}
.content-2-box-1 {
  height: 240px;
  padding: 50px 50px;
  background-color: #fffcf2;
  align-items: center;
  display: grid;
  justify-content: center;
}
.content-2-box-2 {
  background-color: #fff;
  justify-content: center;
}
.content-2-box-2-grid {
  grid-column-gap: 0px !important;
}
.content-2-list {
  font-size: 20px !important;
  font-family: 'Gotham-Medium' !important;
  text-align: left;
  padding-bottom: 5px;
}

.contenet-2-box-2-right {
  margin-top: 40px;
}
.MuiBox-root-29 {
  display: grid;
  justify-content: left;
  text-align: left;
  margin: 15px 0px;
}
.content-2-list-2 {
  display: flex;
  margin-bottom: 10px !important;
  color: #666460;
  font-size: 20px !important;
  font-family: 'Gotham-Book' !important;
}
.content-2-list-2-icon {
  padding-right: 10px;
}
.content-2-box-4 {
  height: 230px;
  background: #fffcf2;
  border-radius: 10px;
  padding-left: 40px;
  text-align: left;
  align-items: center;
  display: grid;
}
.content-2-box-4-heading {
  color: var(--text-color) !important;
  font-size: 24px !important;
  font-family: 'Gotham-Bold' !important;
  line-height: 1.75 !important;
}
.content-2-box-4-paragraph {
  color: #666460;
  font-size: 20px !important;
  font-family: 'Gotham-Book' !important;
}
@media (min-width: 767px) and (max-width: 1024px) {
  .content-2-box-2-grid {
    grid-column-gap: 30px !important;
    grid-row-gap: 0px !important;
    margin-bottom: 30px;
}
}
@media (min-width: 320px) and (max-width: 767px) {
  .content-2-grid {
    display: grid !important;
    grid-template-columns: 0.25fr 1fr 1fr 0.25fr;
  }
  .content-2-grid-item-1 {
    grid-column: 1 / 2;
    max-width: none !important;
  }
  .content-2-grid-item-2 {
    grid-column: 2 / 4;
    max-width: none !important;
  }
  .content-2-grid-item-3 {
    grid-column: 4 / 5;
    max-width: none !important;
  }
  .content-2-img {
    width: 100%;
  }
  .content-2-box-1 {
    padding: 25px 25px !important;
    /*     width: 350px;
 */
  }
  .content-2-heading {
    font-size: 16px !important;
  }
  .content-2-heading-2 {
    font-size: 16px !important;
  }
  .content-2-paragraph {
    font-size: 12px !important;
  }
  .content-2-paragraph-2 {
    font-size: 8px !important;
  }
  .content-2-list {
    font-size: 14px !important;
  }
  .contenet-2-box-2-right {
    margin-top: 0px !important;
  }
  .content-2-box-3 {
    margin-top: 20px;
  }
  .content-2-list-2 {
    font-size: 14px !important;
    display: flex;
    align-items: center;
  }
  .content-2-box-3-img {
    width: 25px;
    height: 25px;
  }
  .content-2-list-2-icon {
    display: flex;
  }
  .content-2-box-4 {
    /*     width: 350px;
 */
    padding-left: 25px !important;
    padding-right: 10px;
  }
  .content-2-box-4-heading {
    font-size: 10px !important;
  }
  .content-2-box-4-paragraph {
    font-size: 9px !important;
  }
}

/* ================================*/
/*============content-3============*/
/*================================*/

.content-3 {
  /*   height: 550px;
 */
  margin-top: 100px;
}
.content-3-heading {
  font-size: 36px !important;
  font-family: 'Gotham-Bold' !important;
  text-align: left;
  line-height: 2.5 !important;
}
.content-3-list {
  font-size: 20px !important;
  font-family: 'Gotham-Medium' !important;
  text-align: left;
  line-height: 1.5 !important;
  display: flex;
  color: #262524;
}
.content-3-list-icon {
  padding-right: 10px;
}
.content-3-grid {
  grid-column-gap: 0px;
}
.content-3-button-box {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}
.content-3-button {
  background-color: var(--text-color) !important;
  color: #fff !important;
  border-radius: 10px !important;
  padding: 10px 10px !important;
  font-size: 14px !important;
  font-family: 'Gotham-Medium' !important;
  text-transform: none !important;
}
.content-3-list-div {
  display: flex;
}
@media (min-width: 320px) and (max-width: 767px) {
  .content-3 {
    margin-top: 30px;
  }
  .content-3-heading {
    font-size: 23px !important;
    line-height: 1.5 !important;
  }
  .content-3-grid {
    grid-row-gap: 0px !important;
  }
  .content-3-list {
    font-size: 12px !important;
    line-height: 1.65 !important;
    padding-bottom: 15px;
  }
  .content-3-list-div {
    display: flex;
  }
  .content-3-button {
    font-size: 12px !important;
  }
  .content-3-list-icon {
    padding-right: 5px;
  }
  .content-3-list-icon-img {
    width: 20px;
  }
}

/* ================================*/
/*============content-4============*/
/*================================*/

.content-4 {
  height: 780px;
  margin-top: 100px;
  background-color: #fffcf2;
  display: flex;
  align-items: center;
}
.content-4-box-left {
  display: flex;
  align-items: center;
}

.content-4-rectangle {
  width: 140px;
  height: 360px;
  background-color: #18384d;
}
.content-4-box-right {
}
.content-4-heading {
  font-size: 36px !important;
  font-family: 'Gotham-Bold' !important;
  text-align: left;
  line-height: 1.5 !important;
}
.content-4-paragraph {
  font-family: 'Gotham-Book' !important;
  text-align: left;
  font-size: 20px !important;
  line-height: 1.5 !important;
}
.content-4-grid {
  grid-column-gap: 0px;
}
.content-4-button-box {
  margin-top: 40px;
}
.button2 {
  color: var(--text-color) !important;
  font-size: 20px !important;
  font-family: 'Gotham-Medium' !important;
  text-transform: none !important;
}

.content-4-icon {
  width: 40px !important;
  height: 20px !important;
  padding-left: 20px !important;
  justify-content: flex-end !important;
}

@media (min-width: 320px) and (max-width: 767px) {
  .content-4 {
    height: 780px;
    margin-top: 30px;
  }
  .content-4-img {
    width: 80%;
    height: 280px;
  }
  .content-4-box-left {
    padding-top: 50%px;
    position: absolute;
  }
  .content-4-rectangle {
    height: 200px;
    width: 20px;
  }
  .content-4-heading {
    font-size: 20px !important;
    padding-bottom: 160px;
    line-height: 1.5 !important;
    grid-column: 2/4;
  }
  .content-4-paragraph {
/*     padding-top: 80%;
 */    font-size: 11px !important;
    grid-column: 2/4;
  }
  .content-4-button-box {
    margin-top: 0px !important;
  }
  .content-4-box-right {
    display: grid;
    grid-template-columns: 0.25fr 0.5fr 0.5fr 0.25fr;
  }
  .button2 {
    font-size: 12px !important;
    grid-column: 2/4;
    justify-content: start !important;
    padding-left: 0px !important;
  }
  .content-4-button-box {
    display: grid;
    grid-template-columns: 0.25fr 0.5fr 0.5fr 0.25fr;
  }
  .content-4-icon {
    width: 30px !important;
    height: 15px !important;
    padding-left: 15px !important;
  }
}
@media (min-width: 1024px) and (max-width: 1441px) {
  .content-4-grid-1 {
    max-width: 50% !important;
  }
}
@media (min-width: 768px) and (max-width: 1025px) {
  .content-4-grid-1 {
    max-width: 50% !important;
  }
}

/* ================================*/
/*============content-5============*/
/*================================*/

.content-5 {
  margin-top: 100px;
}
.content-5-grid {
  grid-column-gap: 0px;
}
.content-5-heading {
  font-size: 36px !important;
  font-family: 'Gotham-Bold' !important;
  text-align: left;
  line-height: 1.5 !important;
}
.content-5-subheading-2,
.content-5-subheading-1 {
  font-size: 24px !important;
  font-family: 'Gotham-Bold' !important;
  text-align: left;
  line-height: 1.5 !important;
}
.content-5-paragraph {
  font-size: 20px !important;
  font-family: 'Gotham-Book' !important;
  text-align: left;
  line-height: 1.5 !important;
}
.content-5-rectangle {
  width: 140px;
  height: 360px;
  background-color: #18384d;
}
.content-5-box-right {
  display: flex;
  align-items: center;
}
.content-5-grid-4 {
  display: flex;
  justify-content: flex-end;
}
.content-5-button {
  color: var(--text-color) !important;
  font-size: 20px !important;
  font-family: 'Gotham-Medium' !important;
  text-transform: none !important;
}
@media (min-width: 320px) and (max-width: 767px) {
  .content-5 {
    margin-top: 50px !important;
  }
  .content-5-heading {
    font-size: 20px !important;
  }
  .content-5-subheading-1 {
    position: relative;
    padding-top: 350px;
  }
  .content-5-subheading-2,
  .content-5-subheading-1 {
    font-size: 16px !important;
  }
  .content-5-paragraph {
    font-size: 12px !important;
  }
  .content-5-grid {
    display: grid !important;
    grid-template-columns: 00.25fr 1fr 1fr 0.25fr;
  }
  .content-5-grid-1 {
    grid-column: 1 / 2;
    max-width: none !important;
  }
  .content-5-grid-2 {
    grid-column: 2 / 4;
    max-width: none !important;
  }
  .content-5-grid-3 {
    grid-column: 4 / 5;
    max-width: none !important;
  }
  .content-5-grid-4 {
    grid-column: 2 / 4;
    max-width: none !important;
    position: absolute;
    padding-top: 90px;
  }
  .content-5-img {
    width: 100%;
    height: 300px;
  }
  .content-5-rectangle {
    width: 100%;
    height: 180px;
  }
  .content-5-button {
    padding-left: 0px !important;
    font-size: 12px !important;
  }
  .content-5-box-right {
    padding-left: 19px;
  }
}

/* ================================*/
/*============content-6============*/
/*================================*/

.content-6 {
  height: 635px;
  margin-top: 100px;
}

.content-6-grid {
  grid-column-gap: 0px !important;
}
.content-6-background {
  height: 490px;
  background-image: url(../Images/Mask\ Group\ 3.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: start;
  align-items: center;
  bottom: 561px;
  position: relative;
}

.content-6-img {
  position: relative;
  z-index: 1;
}
.content-6-left {
  padding-top: 100px;
}
.content-6-heading {
  justify-content: flex-start;
  display: flex;
  color: var(--text-color);
  font-size: 36px !important;
  font-family: 'Gotham-Bold' !important;
  text-align: left;
  line-height: 1.5 !important;
}
.content-6-list {
  justify-content: flex-start;
  display: flex;
  color: #fafafa;
  font-size: 20px !important;
  font-family: 'Gotham-Book' !important;
  text-align: left;
  line-height: 1.25 !important;
}
/* .contact-btn {
  color: #fff !important;
  padding-left: 0px !important;
} */
@media (min-width: 320px) and (max-width: 767px) {
  .content-6 {
    margin-top: 0px;
  }
  .content-6-img {
    width: 200px;
    height: 200px;
    position: absolute;
    margin-top: 130px;
  }
  .content-6-background {
    bottom: 0px !important;
    height: 750px !important;
    width: 100%;
  }
  .content-6-heading {
    font-size: 20px !important;
    padding-top: 35px;
    padding-bottom: 250px;
  }
  .content-6-list {
    font-size: 14px !important;
    line-height: 2 !important;
  }
  .content-6-left {
    padding-top: 0px !important;
  }
  .content-6-grid {
    display: grid !important;
    grid-template-columns: 0.25fr 1fr 1fr 0.25fr;
    grid-column-gap: 0px !important;
  }
  .content-6-grid-1 {
    grid-column: 1 / 2;
    max-width: none !important;
  }
  .content-6-grid-2 {
    grid-column: 2 / 4;
    max-width: none !important;
  }
}
@media (min-width: 1024px) and (max-width: 1441px) {
  .content-6-grid {
    grid-column-gap: 0px !important;
  }
  .content-6-heading {
    font-size: 31px !important;
  }
}
@media (min-width: 768px) and (max-width: 1025px) {
  .content-6-heading {
    font-size: 31px !important;
  }
}
