@font-face {
  font-family: 'Gotham-Bold';
  src: local('Gotham-Bold'), url(../Fonts/Gotham-Bold.otf) format('truetype');
}
@font-face {
  font-family: 'Gotham-Book';
  src: local('Gotham-Book'), url(../Fonts/GothamBook.ttf) format('truetype');
}
@font-face {
  font-family: 'Gotham-Medium';
  src: local('Gotham-Medium'), url(../Fonts/GothamMedium.ttf) format('truetype');
}
.section-4 {
  margin-top: 100px;
  background-color: #fffcf2;
  padding-top: 100px;
}
.sectoin-4-grid , .sectoin-4-grid-3{
  grid-column-gap: 0px !important;
}
.sectoin-4-grid-2{
  justify-content: center;
  height: 140px;
}
.sectoin-4-grid-3{
  position: relative;
  z-index: 100;
}
.section-4-card {
  border-radius: 10px !important;
  box-shadow: 0px 13px 26px #ffba001a !important;
}
.sectoin-4-heading-div{
  text-align: center;
}
.sectoin-4-heading {
  font-family: 'Gotham-Bold' !important;
  font-size: 36px !important;
  color: #262524;
}
.sectoin-4-paragraph {
  font-family: 'Gotham-Book' !important;
  font-size: 20px !important;
  color: #1d2026;
  text-align: center;
}
.sectoin-4-paragraph-2 {
  font-family: 'Gotham-Medium' !important;
  font-size: 21px !important;
  color: #3b3b40;
  text-align: center;
}
.offer-button-div {
  justify-content: center;
  display: flex;
}

.section-4-card-content {
  min-width: 260px !important;
  min-height: 360px !important;
  justify-content: center !important;
  display: grid;
  align-items: center;
  text-align: center;
}
.section-4-card-title {
  font-family: 'Gotham-Bold' !important;
  font-size: 19px !important;
  color: #262524 !important;
}
.section-4-card-sub-title {
  font-family: 'Gotham-Book' !important;
  font-size: 14px !important;
  color: #666460 !important;
}

.sectoin-4-paragraph-2-div,
.offer-button-div,
.section-4-card {
  margin-top: 0px;
/*   margin-bottom: 100px;
 */}
.offer-button-div{
  margin-top: 50px;
  padding-bottom: 100px;
}
.section-4-img{
  transform: rotate(5deg);
}
@media (min-width: 320px) and (max-width: 767px) {
  
  .section-4 {
    margin-top: 0px !important;
  }
  .offer-div{
    display: none !important;
  }
  .offer-button {
    font-size: 12px !important;
  }
  .sectoin-4-paragraph-grid{
    margin-bottom: 30px;
  }
  .sectoin-4-paragraph-2-div{
    height: 80px;
     margin-bottom: 30px !important;
 }
  .sectoin-4-grid-3{
    grid-template-columns: 0.25fr 1fr 0.25fr;
    margin-bottom: 50px;
    justify-content: center;
  }
  .sectoin-4-heading {
    font-size: 28px !important;
  }
  .sectoin-4-paragraph {
    font-size: 14px !important;
    display: flex;
    flex-wrap: wrap;
  }
  .sectoin-4-paragraph-2 {
    font-size: 17px !important;
  }
  .sectoin-4-img{
    width: 70px;
  }
  .sectoin-4-grid-1{
    grid-column: 1 / 2;
  }
  .sectoin-4-grid-2{
      grid-column: 2 / 3;
  }
  .sectoin-4-grid-3{
    grid-column: 2 / 3;
  }
  .sectoin-4-grid-4{
    grid-column: 2 / 3;
    max-width: min-content !important;
    max-height: 400px;
  } 
  .sectoin-4-grid-5{
    grid-column: 2 / 3;
    max-width: min-content !important;
    max-height: 400px;
    margin-bottom: 30px !important;
  }
  .sectoin-4-grid-6{
    grid-column: 2 / 3;
    max-width: min-content !important;
    max-height: 400px;
    margin-bottom: 30px !important;
  }
  .sectoin-4-grid-7{
    grid-column: 2 / 3;
    max-width: min-content !important;
    max-height: 400px;
    margin-bottom: 30px !important;
  }
  .sectoin-4-grid-8{
    grid-column: 2 / 3;
    max-width: min-content !important;
    max-height: 400px;
    margin-bottom: 30px !important;
  }
  .sectoin-4-grid-9{
    grid-column: 3 / 4;
    max-width: min-content !important;
    max-height: 400px;
  }

  .section-4-card-content {
    max-width: 260px !important;
    max-height: 360px !important;
  }
  }
  
  @media (min-width: 1024px) and (max-width: 1441px) {
    .sectoin-4-img{
      width: 250px;
    }
    .section-4-card-content {
      padding: 0px !important;
    }

    .section-4-card-sub-title {
      padding-bottom: 10px;
    }
    .sectoin-4-grid-3 {
      display: grid !important;
      grid-template-columns: 0.25fr 1fr 1fr 1fr 1fr 0.25fr;
    }
    .sectoin-4-grid-5, .sectoin-4-grid-6, .sectoin-4-grid-7, .sectoin-4-grid-8{
      max-width: 100% !important;
    }
  }
 
  @media (min-width: 767px) and (max-width: 1024px) {
    .sectoin-4-img{
      width: 220px !important;
    }
    .sectoin-4-grid-3 {
      display: grid !important;
      grid-template-columns: 0.25fr 1fr 1fr 1fr 1fr 0.25fr;
      grid-column-gap: 15px !important;

    }
    .sectoin-4-grid-offer-div{
      display: grid !important;
    }
    .section-4-card-content {
      min-width: 210px !important;
    }
    .section-4-icon-avatar{
      width: 180px;
    }
    .sectoin-4-grid-5{
      max-width: min-content !important;
      max-height: 400px;
    }
    .sectoin-4-grid-6{
      max-width: min-content !important;
      max-height: 400px;
    }
    .sectoin-4-grid-7{
      max-width: min-content !important;
      max-height: 400px;
    }
    .sectoin-4-grid-8{
      max-width: min-content !important;
      max-height: 400px;
    }
  }
  
  @media (min-width: 1025px) and (max-width: 1440px) {
    .sectoin-4-img{
      width: 250px !important;
    }
    .sectoin-4-grid-3 {
      display: grid !important;
      grid-template-columns: 0.25fr 0.5fr 0.5fr 0.5fr 0.5fr 0.25fr;
      justify-items: center;
  }
    .sectoin-4-grid-5{
      max-width: min-content !important;
      max-height: 400px;
    }
    .sectoin-4-grid-6{
      max-width: min-content !important;
      max-height: 400px;
    }
    .sectoin-4-grid-7{
      max-width: min-content !important;
      max-height: 400px;
    }
    .sectoin-4-grid-8{
      max-width: min-content !important;
      max-height: 400px;
    }
  }
  @media (min-width: 1441px) and (max-width: 2561px) {

    .sectoin-4-img{
      width: 250px !important;
    }
    .sectoin-4-grid-3 {
      display: grid !important;
      grid-template-columns: 0.75fr 0.5fr 0.5fr 0.5fr 0.5fr 0.75fr;
      justify-items: center;
  }
    .sectoin-4-grid-5{
      max-width: min-content !important;
      max-height: 400px;
    }
    .sectoin-4-grid-6{
      max-width: min-content !important;
      max-height: 400px;
    }
    .sectoin-4-grid-7{
      max-width: min-content !important;
      max-height: 400px;
    }
    .sectoin-4-grid-8{
      max-width: min-content !important;
      max-height: 400px;
    }
  }
  @media (max-width: 769px) {
    .sectoin-4-img{
      width: 250px !important;
    }
  }