.section-2 {
  height: 25rem !important;
  display: grid;
  align-items: center;
}
.section-2-grid {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
}
.card {
  max-width: 40rem !important;
}
.card-content {
  max-width: 40rem !important;
  min-height: 20rem !important;
  justify-content: center !important;
  display: grid;
  align-items: center;
  text-align: start;
  padding: 2rem 3rem !important;
}

.card-content:hover {
  background: var(--sectoin-2-card-hover-color) !important;
  color: #fff !important;
}
/* .card-content:hover > .section-2-card-title {
  color: #fff !important;
} */
.card-content:hover > .sub-title {
  color: #fff !important;
}
.card-content:hover > .section-2-card-icon-avatar {
  fill: red !important;
  content: url(../Icons/icon5_hover.svg) !important;
}

.card-content:hover > svg #Rectangle_598 {
  fill: #fff !important;
}
.card-content:hover > svg #Path_47 {
  fill: var(--card-icon-color) !important;
}
svg #Path_47 {
  fill: var(--card-icon-color) !important;
}
#Rectangle_598 {
  fill: #fff !important;
}
.section-2-card-title {
  font-size: 23px !important;
  font-family: 'Gotham-Light' !important;
  color: #fff !important;
}
.sub-title {
  display: flex;
  font-size: 18px !important;
  font-family: 'Gotham-Medium' !important;
  color: var(--text-color) !important;
  align-items: center;
  justify-content: center;
}


@media (min-width: 320px) and (max-width: 480px) {
  .section-2 {
    height: 27rem !important;
  }
  .section-2-grid {
    display: grid !important;
  }
  .card-content {
    min-width: 5rem !important;
    min-height: 7rem !important;
    justify-content: start !important;
    display: grid;
    align-items: center;
    padding: 8px !important;
    text-align: start;
  }
  .section-2-card-icon-avatar {
    width: 50px;
    height: 50px;
  }
  .section-2-card-title {
    font-size: 17px !important;
    width: 15rem;

  }
  .sub-title {
    font-size: 12px !important;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .card-content {
    min-width: 12rem !important;
    min-height: 18rem !important;
    padding: 1rem 1rem !important;
  }
  .section-2 {
    height: 25rem !important;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .section-2 {
    height: 20rem !important;
  }
  .section-2-grid {
    display: grid !important;
    grid-template-columns: 0.25fr 0.5fr 0.5fr 0.5fr 0.25fr;
  }
  .section-2-grid-1 {
    grid-column: 1/2;
  }
  .section-2-grid-2 {
    grid-column: 2/3;
  }
  .section-2-grid-3 {
    grid-column: 3/4;
  }
  .section-2-grid-4 {
    grid-column: 4/5;
  }
  .section-2-grid-5 {
    grid-column: 5/6;
  }
  .card {
    max-width: 350px;
  }
  .card-content {
    min-width: 17rem !important;
    min-height: 13rem !important;
    justify-content: center !important;
    display: grid;
    align-items: center;
    text-align: left;
  }
  .section-2-card-title {
    font-size: 13px !important;
  }
  .sub-title {
    font-size: 9px !important;
  }
}
@media (min-width: 1025px) and (max-width: 1200px) {
  
  .card {
    max-width: 32rem !important;
  }
  .card-content {
    max-width: 40rem !important;
    min-height: 13rem !important;
  }
  .section-2-card-title {
    font-size: 13px !important;
  }
}
@media (min-width: 1201px) and (max-width: 1366px) {
  .card {
    max-width: 20rem !important;
  }
  .card-content {
    max-width: 40rem !important;
    min-height: 12rem !important;
  }
  .section-2-card-title {
    font-size: 16px !important;
  }
  .section-2-grid-2{
    display: flex;
    justify-content: center !important;
  }
  .section-2-grid-3{
    display: flex;
    justify-content: center !important;
  }
  .section-2-grid-4{
    display: flex;
    justify-content: center !important;
  }
}
@media (min-width: 1367px) and (max-width:1536px) {
  .card {
    max-width: 40rem !important;
  }
  .card-content {
    max-width: 40rem !important;
    min-height: 13rem !important;
  }
  .section-2-card-title {
    font-size: 18px !important;
  }
}
@media (min-width: 1537px) and (max-width: 1920px) {
  .section-2-grid {
    display: grid !important;
    grid-template-columns: 0.25fr 0.5fr 0.5fr 0.5fr 0.25fr;
  }
  .section-2-grid-1 {
    grid-column: 1/2;
  }
  .section-2-grid-2 {
    grid-column: 2/3;
  }
  .section-2-grid-3 {
    grid-column: 3/4;
  }
  .section-2-grid-4 {
    grid-column: 4/5;
  }
  .section-2-grid-5 {
    grid-column: 5/6;
  }
  .card {
    max-width: 350px;
  }
}

@media (min-width: 1921px) and (max-width: 2880px) {
  .section-2 {
    height: 28rem !important;
  }
  .section-2-card-icon-avatar {
    width: 8rem;
    height: 8rem;
  }
  .section-2-card-title {
    font-size: 42px !important;
  }
  .card {
    max-width: 40rem !important;
  }
  .card-content {
    max-width: 40rem !important;
    min-height: 23rem !important;
  }
}