.section-3 {
  height: 635px;
}
.section-3-grid {
  position: relative;
  grid-column-gap: 0px;
  z-index: 5;
}
.section-3-grid-2 {
  margin-top: 5rem !important;
}
.section-3-grid-4 {
  display: grid;
  justify-content: end;
}
.section-3-grid-6 {
  grid-column-gap: 0px;
}
.img {
  height: 410px;
  background-image: url(../Images/section-3-background.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: start;
  align-items: center;
  bottom: 28rem;
  position: relative;
}
.Section_3_img {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 30rem;
}
.sectoin-3-left {
  padding-top: 181px;
  position: relative;
  z-index: 100;
}
.sectoin-3-heading {
  justify-content: flex-start;
  display: flex;
  color: var(--second-text-color);
  font-size: 36px !important;
  font-family: 'Gotham-Light' !important;
  text-align: left;
  line-height: 1.5 !important;
}
.sectoin-3-paragraph {
  justify-content: flex-start;
  display: flex;
  color: var(--second-text-color);
  font-size: 20px !important;
  font-family: 'Gotham-Book' !important;
  text-align: left;
  line-height: 1.25 !important;
}
@media (min-width: 320px) and (max-width: 480px) {
  .section-3-grid,
  .section-3-grid-6 {
    display: grid !important;
    grid-template-columns: 0.25fr 1fr 1fr 0.25fr;
    grid-row-gap: 0px !important;
    padding-top: 20px;
  }
  .section-3-grid-1,
  .section-3-grid-7 {
    grid-column: 1 / 2;
  }
  .section-3-grid-2 {
    grid-column: 2 / 4;
    max-width: none !important;
    margin-top: 0px !important;
  }
  .section-3-grid-3 {
    grid-column: 4 / 5;
  }
  .section-3-grid-4 {
    grid-column: 2 / 4;
    justify-content: start;
    max-width: none !important;
  }
  .section-3-grid-5 {
    grid-column: 4 / 5;
  }
  .section-3-grid-8 {
    grid-column: 2 / 4;
  }
  .Section_3_img {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 300px;
  }
  .sectoin-3-heading {
    font-size: 26px !important;
  }
  .img {
    margin-top: 140px !important;
    height: 650px !important;
    bottom: 35rem !important;
  }
  .sectoin-3-left {
    padding-top: 450px;
  }
  .cal-button {
    margin-top: 20px !important;
  }
  .sectoin-3-paragraph {
    font-size: 14px !important;
  }
  .sectio-3-avatar {
    justify-content: center;
    display: flex;
  }
  .sectio-3-icon {
    width: 30px !important;
    height: 20px !important;
    padding-left: 10px !important;
    justify-content: flex-end !important;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .section-3 {
    height: 25rem;
    position: relative;
  }

  .img {
    bottom: 19rem;
    height: 18rem;
    position: relative;
  }
  .sectoin-3-heading {
    font-size: 17px !important;
  }
  .sectoin-3-paragraph {
    font-size: 12px !important;
  }
  .Section_3_img {
    width: 100%;
    height: 20rem;
  }
  .section-3-grid-2 {
    margin-top: 5rem !important;
  }
  .sectoin-3-left {
    padding-top: 8rem;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .Section_3_img {
    width: 100%;
  }
  .sectoin-3-heading {
    font-size: 32px !important;
  }
}
