body{
  --color: #ffdc00;
  --text-color: #ffdc00;
  --button-color: #ffdc00;
  --card-icon-color: #ffdc00;
  --card-icon-color-2: #fff;
  --card-hover-color: #ffdc00;
}
.text-color{
  color: var(--text-color);
}

@font-face {
  font-family: 'Gotham-bold';
  src: local('Gotham-bold'), url(./Assets/Fonts/Gotham-Bold.otf) format('truetype');
}
@font-face {
  font-family: 'Gotham-Medium';
  src: local('Gotham-Medium'), url(./Assets/Fonts/GothamMedium.ttf) format('truetype');
}
